.sync-container {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

label {
    display: Block; 
    align-items: center;
    margin-bottom: 10px;
    font-size: 30px; 
    padding: 15px;
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.container {
    max-width: 1200px;
    min-width: 620px;
    min-height: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.add-to-calendar {
  margin-top: 10px; 
  align-self: flex-end; 
  padding: 12px 20px; 
  font-size: 18px;
  background-color: #ee0707; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 

  /* Hover effect */
  &:hover {
    background-color: #ab0202; /* Darker color on hover */
  }
}